.addbutton, .editButton, .saveButton, .deleteButton {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    display: inline;
    vertical-align: top; 
}

.addbutton {
    background-color: rgb(255, 0, 127);
}

.editButton {
    background-color: rgb(255, 128, 0);
}

.saveButton {
    background-color: rgb(0, 153, 0);
}

.deleteButton {
    background-color: rgb(255, 0, 0);    
}

.headerTextarea {
    height: 47px;
    width: 500px;
    margin-top: 0;
    resize: none;
    display: inline; 
}

#sites_wrapper article {
    display: block;    
    padding: 0;
}
